header{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header button{
  margin-right: 10px;
}
.code_box{
  width: 90%;
  height: 150vh;
  background-color: aliceblue;
   /* display: flex;
  justify-content: center; 
  align-items: center; */
  margin: 0px 40px;
  margin-bottom: 20px;
}
.genarate{
  padding: 50px 0 0 20px;
}
.code_genteror_input{
  padding: 10px;
  margin-left: 15px;
  border: none;
  outline: none;
  border-bottom: 2px solid #0dea6cd2;
  box-shadow:0 0 15px 4px rgba(91, 87, 87, 0.06);
  width: 55%;
  color: gray;
  font-size: 18px;
  border-radius: 6px 6px 0  0;
  letter-spacing: 1px;
}
.qr_code_img{
  display: block;
  margin: 0 auto;
  height: 300px;

}
.ion {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: #fff url(./logo.svg) 0 0 no-repeat
}
video{
  width: 10px;
  height: 100px;
}
/* #input {
  display: none
} */